<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', path='/dist/app.css') }}">

</head>
<body class="bg-slate-300">

    <!-- Ejemplo con tailwindcss con tabla de hyperiu y heroicons -->
    <!-- <div class="m-10">
        <div class="flex w-full justify-center">

            <div class="overflow-x-auto">
                <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                  <thead class="ltr:text-left rtl:text-right">
                    <tr>
                      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Name
                      </th>
                      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Date of Birth
                      </th>
                      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Role
                      </th>
                      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Salary
                      </th>
                    </tr>
                  </thead>
              
                  <tbody class="divide-y divide-gray-200">
                    <tr>
                      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        John Doe
                      </td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">Web Developer</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">$120,000</td>
                    </tr>
              
                    <tr>
                      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Jane Doe
                      </td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">04/11/1980</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">Web Designer</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">$100,000</td>
                    </tr>
              
                    <tr>
                      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
                        Gary Barlow
                      </td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">24/05/1995</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">Singer</td>
                      <td class="whitespace-nowrap px-4 py-2 text-gray-700">$20,000</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            <div class="flex">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-6 w-6 text-blue-500">
                    <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" clip-rule="evenodd" />
                </svg>                  
                <p>Ejemplo con Heroicon</p>
            </div>

        </div>
    </div> -->

    {% block content %}
        
    {% endblock %}



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block js %}

    {% endblock %}
    <!-- <script src="/static/js/base.js"></script> -->
</body>
</html>